<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>登录</title>
  <script src="/js/jquery-2.2.4.min.js"></script>
  <link rel="shortcut icon" type="image/png" href="/image/book.png" />
  <link rel="stylesheet" href="/css/styles.min.css" />
  <script src="/js/login.js"></script>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="/image/book.png" width="60" alt="">
                </a>
                <p class="text-center">图书管理系统</p>
                <p th:text="${msg}" th:if="${not #strings.isEmpty(msg)}" class="text-center text-danger">msg</p>
                <form th:action="@{/login/submit}">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">用户名</label>
                    <input oninput="removeSpaces(this)" name="username" type="text" class="form-control" id="exampleInputEmail1" required="required">
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">密码</label>
                    <input oninput="removeSpaces(this)" name="password" type="password" class="form-control" id="exampleInputPassword1" required="required">
                  </div>

                  <input type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" value="登录">

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>